@model CRMFacilitoInicial.Models.Cliente

@{
    ViewBag.Title = "Eliminar";
}

<h3>¿Está seguro de querer eliminar el cliente?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPersonaSat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPersonaSat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo.NombreTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo.NombreTipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresa a la lista", "Index")
        </div>
    }
</div>
