@model CRMFacilitoInicial.Models.ActividadViewModel

@{
    ViewBag.Title = "Crear";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
</div>
<div class="modal-body">

    @using (Ajax.BeginForm("Create", "Actividades", null, new AjaxOptions
    {
        HttpMethod = "POST",
        Url = Url.Action("Create", "Actividades"),
        UpdateTargetId = "modal-content",
        OnSuccess = "closeModalCreate",
        InsertionMode = InsertionMode.Replace
    },
    new { @class = "form-horizontal", role="form", id="frmCrear" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaInicial, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaInicial,
                                new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.FechaInicial, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TipoActividadId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TipoActividadId, ViewData["tipos"] as SelectList,
                "--SELECCIONE EL TIPO DE ACTIVIDAD", new { @class = "form-control" })
                    <span class="error">Se requiere el tipo de actividad</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Id del cliente:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClienteId, new { htmlAttributes = new { @class = "form-control", id = "ClienteId" } })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nombre del cliente:</label>
                <div class="col-md-10">
                    @Html.TextBox("nombre", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>
        <script>
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                language: 'es'
            });
            $('#nombre')
                        .autocomplete({
                            source: '@Url.Action("Lista", "Clientes")',
                            select: function (event, ui) {
                                //alert('you have selected ' + ui.item.value + ' ID: ' + ui.item.id);
                                $('#ClienteId').val(ui.item.id);
                                $('#nombre').val(ui.item.value);
                                return false;
                            }
                        });
        </script>

