@model CRMFacilitoInicial.Models.CampaniaViewModel

@{
    ViewBag.Title = "Crear";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
</div>
<div class="modal-body">
@using (Ajax.BeginForm("Create", "Campanias", null, new AjaxOptions
    {
        HttpMethod = "POST",
        Url = Url.Action("Create", "Campanias"),
        UpdateTargetId = "modal-content",
        OnSuccess = "closeModalCreate",
        InsertionMode = InsertionMode.Replace
    },
    new { @class = "form-horizontal", role = "form", id = "frmCrear" }))
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Campania</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Fecha, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IncluyeProspectos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.IncluyeProspectos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IncluyeProspectos, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    </div>

    @section Scripts {

    }
       <script>
           $('.datepicker').datepicker({
               format: 'dd/mm/yyyy',
               autoclose: true,
               language: 'es'
           });
        </script>
   
